.App {
  text-align: center;
}

* {
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: black;
}

.app_body {
  width: 100vw;
  height: 600px;
  display: flex;
  justify-content: center;
}

.app_container {
  width: 1024px;
  height: 100%;
  display: flex;
  padding-left: 48px;
  padding-right: 48px;
}
